<!-- BEGIN slideshow -->
<table class="table1" width="100%" summary="">
<tr><td valign="middle" class="tableb" height="{slideshow.T_CELL_HEIGHT}" style="float:none; text-align:center; padding: 0px;">
	<table align="center" cellspacing="2" cellpadding="0" style="border:1px solid #000000; background-color:#FFFFFF; margin-top:0px; margin-bottom: 0px;" summary="">
		<tr><td> {slideshow.T_IMAGE}</td></tr>
	</table>
{slideshow.T_WINDOW}</td></tr>
<tr><td align="center"><br />
	<table width="100%" summary="">
		<tr><th style="text-align:center"><a href="javascript:self.close()"> {slideshow.S_CLOSEMSG} </a></th></tr>
	</table>
</td></tr></table>
<!-- END slideshow -->
