<!-- BEGIN newsnone -->
<div class="pn_newsarticle">
<div class="pn_content"><center>{newsnone.S_MSG}</center></div>
</div><br />
<!-- END newsnone -->

<!-- BEGIN newshdline -->
<!-- IF newshdline.G_SECBRK -->
<table class="forumline" width="100%" summary=""><tbody>
<tr><th>{newshdline.S_SECBRK}</th></tr>
</tbody></table>
<br />
<!-- ENDIF -->
<!-- IF newshdline.G_CATBRK -->
<table class="forumline" width="100%" summary=""><tbody>
<tr><td class="cat" align="center">{newshdline.S_CATBRK}</td></tr>
</tbody></table>
<br />
<!-- ENDIF -->
<div class="pn_newsarticle">
<table class="nolinetable" summary=""><tbody>
<tr><td><span class="pn_lgtitle">{newshdline.S_TITLE}</span><br /></td></tr>
<tr><td><div class="pn_content">{newshdline.S_INTRO}
<!-- IF newshdline.G_MORELINK -->
<a href="{newshdline.U_MORELINK}"> &nbsp; {newshdline.S_MORELINK}</a>
<!-- ENDIF -->
</div><br /></td></tr>
<tr><td><table class="hdlinetable" summary=""><tbody>
<tr><td><span class="pn_caption"><a href="{newshdline.U_ARTLINK}">{newshdline.L_HDLINES}</a> &nbsp; <a href="{newshdline.U_ALLLINK}">(&nbsp;{newshdline.S_HDLINES}&nbsp;)</a></span></td></tr>
	<!-- BEGIN hdline_addtl -->
	<tr {newshdline.hdline_addtl.U_BGCOLOR}><td width="90%"><span class="pn_title">{newshdline.hdline_addtl.S_TITLE}</span></td></tr>
	<tr {newshdline.hdline_addtl.U_BGCOLOR}><td><div class="pn_content">{newshdline.hdline_addtl.S_INTRO}
	<!-- IF newshdline.hdline_addtl.G_MORELINK -->
	<a href="{newshdline.hdline_addtl.U_MORELINK}">{newshdline.hdline_addtl.S_MORELINK}</a>
	<!-- ENDIF -->
	</div></td></tr>
	<!-- END hdline_addtl -->
</tbody></table></td></tr>
</tbody></table>
</div>
<br />
<!-- END newshdline -->

<!-- BEGIN newshome -->
<!-- IF newshome.G_SECBRK -->
<table class="forumline" width="100%" summary=""><tbody>
<tr><th><strong>{newshome.S_SECBRK}</strong></th></tr>
</tbody></table>
<br />
<!-- ENDIF -->
<!-- IF newshome.G_CATBRK -->
<table class="forumline" width="100%" summary=""><tbody>
<tr><td class="cat" align="center"><strong>{newshome.S_CATBRK}</strong></td></tr>
</tbody></table>
<br />
<!-- ENDIF -->
<div class="pn_newsarticle">
<!-- IF newshome.G_ICONS -->
<div class="pn_icon"><a href="{newshome.S_CATLINK}"><img align="top" src="images/pro_news/icons/{newshome.S_ICON}" alt="{newshome.T_ICON}" border="0" /></a></div>
<!-- ENDIF -->
<span class="pn_lgtitle">{newshome.S_TITLE}</span><br />
<table class="captiontable" summary=""><tbody>
<tr><td><div class="pn_thumb">{newshome.S_IMAGE}</div></td></tr>
<tr><td><span class="pn_caption">{newshome.T_CAP}</span>
</td></tr>
</tbody></table>
<div class="pn_content">{newshome.S_INTRO}</div>
<br />
<center><table class="nolinetable" summary=""><tr><td>
<!-- IF newshome.G_MORELINK -->
<a href="{newshome.U_MORELINK}">{newshome.S_MORELINK}</a>
<!-- ENDIF -->
</td><td>
<!-- IF newshome.G_DISCUSS -->
<a href="{newshome.U_DISCUSS}">{newshome.S_DISCUSS}</a>
<!-- ENDIF -->
</td><td align="right">
<!-- IF newshome.G_CANADMIN -->
{newshome.T_CANADMIN} [ <a href="{newshome.U_CANADMIN}">{newshome.S_CANADMIN}</a> ]
<!-- ENDIF -->
</td></tr></table></center>
<!-- IF newshome.G_POSTBY -->
<span class="pn_postby"><div align="right">{newshome.L_POSTBY}: {newshome.S_POSTBY} {newshome.L_POSTON} {newshome.S_POSTTIME}&nbsp;</div></span>
<!-- ENDIF -->
</div>
<br />
<!-- END newshome -->

<!-- BEGIN newsarticle -->
<div class="pn_newsarticle">
<div class="pn_icon"><img align="top" src="images/pro_news/icons/{newsarticle.S_ICON}" alt="{newsarticle.T_ICON}" /></div>
<span class="pn_lgtitle">{newsarticle.S_TITLE}</span><br />
<table class="captiontable" summary=""><tbody>
<tr><td><div class="pn_thumb">{newsarticle.S_IMAGE}</div></td></tr>
<tr><td><span class="pn_caption">{newsarticle.T_CAP}</span>
</td></tr>
</tbody></table>
<div class="pn_content">{newsarticle.S_INTRO}<br /><br />{newsarticle.S_CONTENT}</div>
<br />
<center><table class="nolinetable" summary=""><tr><td>
<!-- IF newsarticle.G_DISCUSS -->
<a href="{newsarticle.U_DISCUSS}">{newsarticle.S_DISCUSS}</a>
<!-- ENDIF -->
</td><td align="right">
<!-- IF newsarticle.G_CANADMIN -->
{newsarticle.T_CANADMIN} [ <a href="{newsarticle.U_CANADMIN}">{newsarticle.S_CANADMIN}</a> ]
<!-- ENDIF -->
</td></tr></table></center>
<!-- IF newsarticle.G_POSTBY -->
<span class="pn_postby">{newsarticle.L_POSTBY}: {newsarticle.S_POSTBY} {newsarticle.L_POSTON} {newsarticle.S_POSTTIME}</span><br />
<!-- ENDIF -->
</div>
<br clear="all" />
<!-- END newsarticle -->

<!-- BEGIN preview_article -->
<div>
<div class="pn_title"><center><img src="{THEME_PATH}/images/pro_news/arrow_ltr.png" alt="" />&nbsp;&nbsp;&nbsp;{preview_article.S_HEADING}&nbsp;&nbsp;&nbsp;<img src="{THEME_PATH}/images/pro_news/arrow_rtl.png" alt="" /></center></div>
<div class="pn_postby"><center>{preview_article.S_MSG}</center></div>
</div><br />
<!-- END preview_article -->
